
body {
  background-color: #F8E0BF;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.i-sigma:after{
  content: "\03A3";
} 
.i-pyramid:after{
  content: "\25EE";
} 

.i-player:after{
  content: "\2302 \20E4";
} 

.i-card:after{
  content: "\1f0a0";
} 

.i-shield:after{
  content: "\26E8";
} 

.i-chip::after{
  content: "\2B24";
}

.red{
  color: red;
  background-color: #F3CFC2;
}

.blue{
  color: blue;
  background-color: #C8EBFC;
}

.yellow{
  color: #FFCB05;
  background-color: #FFFBD7;
}

.purple{
  color: purple;
  background-color: #D1D3EB;
}

.green{
  color: green;
  background-color: #D9E9D3
}

div[class="row"] {
  outline: 1px dotted rgba(0, 0, 0, 0.25);
}

div[class^="col-"] {
  /* background-color: rgba(255, 0, 0, 0.2);
  outline: 1px dotted rgba(0, 0, 0, 0.5); */
}